.contenar{

display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;

}
.food{

    border: 1px solid seagreen;
    border-radius: 5px;
    padding: 10px;
}
.food img{

    width: 100%;
}

@media screen and (max-width : 576px) {

    .contenar{

        grid-template-columns: repeat(1, 1fr);
    }
    
}